{% extends "template.twig"%} 
{% block container %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Panel Title</h3>
        </div>
        <div class="panel-body">
            <h4><strong>Identificador: {{convenio.id|default('Não definido')}}</h4>
            <hr>
            <h4><strong>Início de Vigência: {{convenio.data_inicio_vigencia|default('Não definido')}}</h4>
            <hr>
            <h4><strong>Fim de Vigência: {{convenio.data_fim_vigencia|default('Não definido')}}</h4>
            <hr>
            <h4><strong>Justificativa: {{convenio.justificativa|default('Não definido')}}</h4>
            <hr>
            <h4><strong>Valor Global: {{convenio.valor_global|default('Não definido')}}</h4>
            <hr>
            <h4><strong>Valor do Repasse: {{convenio.valor_repasse|default('Não definido')}}</h4>
            <hr>
            <h4><strong>Contra Partida: {{convenio.valor_contra_partida|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.valor_contrapartida_financeira|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.valor_contrapartida_bens_servicos|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.data_assinatura|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.data_publicacao|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_situacao|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_subsituacao|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_situacao_publicacao|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.objeto|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.capacidade_tecnica|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.agencia_bancaria|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.conta_bancaria|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.nome_banco|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.codigo_banco|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.indicador_parecer_tecnico|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.indicador_parecer_juridico|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.indicador_parecer_gestor|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.indicador_publicado|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.numero_processo|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.numero_interno|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.permite_ajustes_cronograma_fisico|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.indicador_termo_aditivo|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_proposta|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_proponente|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_orgao_concedente|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_modalidade|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.indicador_parecer_tecnico|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.id_pessoa_responsavel_como_concedente|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.nome_proponente|default('Não definido')}}</h4>
            <hr>
            <h4><strong>{{convenio.nome_municipio|default('Não definido')}}</h4>
            <hr>
        </div>
    </div>
{% endblock%}