<h1>Ranking - Situação: {{situacao}} - {{nomeEstado}}</h1>
{% block tabelaLista %}
<table id="users" class="table table-striped table-bordered dataTable">
    <thead>
        <tr>  
            <th>ID Registro</th>
            <th>Nome</th>
            <th>Valor do Covenio</th>
            <th>Valor Repassado</th>
            <th>Diferença</th>
        </tr>
    </thead>
    <tbody>
        {% for chave, ong in listaOng %}
            <tr>
                <td>{{ong.id}}</td>
                <td>{{ong.nome}}</td>
                <td>{{ong.valor_global|default('Não definido')}}</td>
                <td>{{ong.valor_repasse|default('Não definido')}}</td>
                <td>{{ong.valor_global - ong.valor_repasse}}</td>
            </tr>
         {% endfor%}
    </tbody>
</table>
{% endblock %}